*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#000;
overflow:hidden;
font-family:'Poppins',sans-serif;
}

#loader{
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:black;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:radial-gradient(circle,#1b1b1b 0%,#000 80%);
}

.content{
position:relative;
z-index:5;
text-align:center;
}

.content h1{

font-size:70px;

color:#d4af37;

letter-spacing:10px;

font-family:'Playfair Display',serif;

opacity:0;

animation:title 2s forwards;

}

.content h2{

margin-top:12px;

font-size:20px;

letter-spacing:12px;

color:white;

opacity:0;

animation:subtitle 2s forwards;

animation-delay:.6s;

}

.gold-line{

height:2px;

background:#d4af37;

margin:25px auto;

width:0;

animation:line 2s forwards;

}

.loading{

margin:45px auto;

width:320px;

height:5px;

background:#222;

border-radius:50px;

overflow:hidden;

}

.loading-fill{

height:100%;

width:0;

background:linear-gradient(90deg,#8b6a00,#ffd700,#fff2a8,#ffd700);

animation:load 3.5s linear forwards;

}

.loading-text{

margin-top:18px;

color:#aaa;

letter-spacing:4px;

font-size:14px;

}

@keyframes title{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@keyframes subtitle{

to{

opacity:1;

}

}

@keyframes line{

to{

width:340px;

}

}

@keyframes load{

to{

width:100%;

}
}
